{% extends "layout.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('admin.login') }}">
        {{ form.csrf_token }}
        <div class="form-group row">
            {{ form.username.label(class_='col-sm-3 col-form-label') }}
            <div class="col-sm-9">
                {{ form.username(class_='form-control') }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.password.label(class_='col-sm-3 col-form-label') }}
            <div class="col-sm-9">
                {{ form.password(class_='form-control') }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}