{% extends "layout.html" %}

{% block content %}
    <h2>Slack channel to confluence mappings</h2>
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ url_for('admin.add_slack_confluence_mapping') }}" role="button" class="btn btn-secondary float-right">Add a mapping</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-sm mt-2">
              <thead>
                <tr>
                  <th scope="col">Slack channel name</th>
                  <th scope="col">Confluence page ID</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for mapping in mappings %}
                    <tr>
                      <td><a href="{{ url_for('admin.edit_slack_confluence_mapping', mapping_id=mapping.id) }}">{{ mapping.channel }}</a></td>
                      <td>{{ mapping.confluence_page_id }}</td>
                      <td><a href="{{ url_for('admin.delete_slack_confluence_mapping', mapping_id=mapping.id) }}">delete</a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}
