{% extends "layout.html" %}

{% block content %}
    <h2>{% if mapping %}Edit{% else %}Add{% endif %} slack to confluence mapping</h2>
    {% if mapping %}
        <form method="POST" action="{{ url_for('admin.edit_slack_confluence_mapping', mapping_id=mapping.id) }}">
    {% else %}
        <form method="POST" action="{{ url_for('admin.add_slack_confluence_mapping') }}">
    {% endif %}
        {{ form.csrf_token }}
        {{ form.id }}
        <div class="form-group row">
            {{ form.channel.label(class_='col-sm-3 col-form-label') }}
            <div class="col-sm-9">
                {% if form.channel.errors %}
                    {{ form.channel(class_='form-control is-invalid') }}
                {% else %}
                    {{ form.channel(class_='form-control') }}
                {% endif %}
                <small id="channelHelpBlock" class="form-text text-muted">
                  The name of the slack channel (without hash mark).
                </small>
                {% if form.channel.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.channel.errors %}{{ error }}{% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.confluence_page_id.label(class_='col-sm-3 col-form-label') }}
            <div class="col-sm-9">
                {% if form.confluence_page_id.errors %}
                    {{ form.confluence_page_id(class_='form-control is-invalid') }}
                {% else %}
                    {{ form.confluence_page_id(class_='form-control') }}
                {% endif %}
                <small id="channelHelpBlock" class="form-text text-muted">
                  The page ID of the confluence page where you want retrospective notes to be saved. The page ID can be found by navigating to the target page in confluence, and copying the ID from the url string (example: https://somecompany.atlassian.net/wiki/spaces/PDX/pages/999666888/MyProject+retrospective+running+notes - where "999666888" would be the page ID). 
                </small>
                {% if form.confluence_page_id.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.confluence_page_id.errors %}{{ error }}{% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ url_for('admin.mappings_list') }}" role="button" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
