<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Slack retrospective note taker</title>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        {% if 'username' in session %}
          <a class="navbar-brand" href="{{ url_for('admin.mappings_list') }}">Retrospective notes</a>
        {% else %}
          <span class="navbar-brand mb-0 h1">Retrospective notes</span>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if 'username' in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.mappings_list') }}">Mappings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main role="main" class="container" style="padding: 60px 15px 0;">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>